<h3>New Competition for {{ competitionCtrl.danceName }}</h3>
<form ng-submit="competitionCtrl.saveCompetition(competition)" class="form-inline" role="form">
  <div class="form-group">
    <div class="col-sm-4 comp-col">
      <label class="sr-only" for="name">Name</label>
      <input ng-model="competition.name" type="text" class="form-control" name="name" placeholder="Name">
    </div>
    <div class="col-sm-4 comp-col">
      <label class="sr-only" for="winner">Winner</label>
      <input ng-model="competition.winner" type="text" class="form-control" name="winner" placeholder="Winner">
    </div>
    <div class="col-sm-4 comp-col">
      <label class="sr-only" for="year">Year</label>
      <span>
      <select ng-model="competition.year" class="form-control" name="year">
        <option value="" disabled selected>Year</option>
        <option ng-repeat="year in competitionCtrl.years(1980)" value="{{year}}" ng-selected="year == selected">{{ year }}</option>
      </select>
      </span>
    </div>
  </div>
  <div class="comp-col">
    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
  </div>
</form>
